.buttonBlue {
	border: 1px solid blue;
	background-color: turquoise;
	font: inherit;
	padding: 8px;
	cursor: pointer;
}

.buttonBlue:hover {
	background-color: lightblue;
}

.buttonRed {
	background-color: red;
	border: 1px solid blue;
	font: inherit;
	padding: 8px;
	cursor: pointer;
}

.buttonRed:hover {
	background-color: salmon;
}

.login {
	border: 1px solid blue;
	background-color: orangered;
	font: inherit;
	padding: 8px;
	cursor: pointer;
}
